# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# .NET / general
*.dll
*.exe
*.pdb
*.cache
*.log
*.tmp

# Rider / VS / IDE
*.userprefs
.idea/
*.vspscc
*.vssscc

# Other common
# Ignore publish output folders, coverage, logs, etc.
artifacts/
coverage/
*.coverage
*.coveragexml