@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0f1117;
  color: #dde2ee;
  font-family: 'Manrope', sans-serif;
  height: 100vh;
  overflow: hidden;
}